body{
    margin: 0px;
}

#signBody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    color: white;
}

#containerBody{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    background-color: #97A2AC;
}

.containerTable{
    height: calc(100% - 380px);
    overflow-y: auto;
}

#headerSection{
    width: 100%;
    height: 125px;
    background-color: #091726;
    border-radius: 40px;
    text-align: left;
}

#bodySection{
    width: 100%;
    height: calc(100% - 165px);
    background: rgb(0,19,38);
    background: linear-gradient(180deg, rgba(0,19,38,0.8) 68%, rgba(0,70,140,0.8) 100%);
    border-radius: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.logo{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
}

.container {
    width: 800px;
    height: 80%;
    margin-top: calc(20% - 50px);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgb(0,19,38);
    background: linear-gradient(180deg, rgba(0,19,38,0.8) 68%, rgba(0,70,140,0.8) 100%);
    padding: 20px;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#connectButton, #actionButton { /* Incluyendo actionButton */
    padding: 10px 20px;
    margin: 20px;
    background-color: #001326;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
    width: 193px;
}

#userCointainer{
    background-color: rgba(0,19,38,0.8);
    position: absolute;
    top: 30px;
    right: 0px;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0;
}

#userCointainer img, #userCointainer strong, #userCointainer div{
    display: inline-block;
    vertical-align: middle;
}

#connectButton:hover, #actionButton:hover { /* Incluyendo actionButton */
    background-color: #001326;
}

#jsonContent {
    margin: 20px 0;
    text-align: left;
    border: 1px solid #A6A7AD;
    padding: 10px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
    height: 35%;
    overflow-y: auto;
    overflow-x:hidden;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

#containerEnter{
    margin: 20px 0;
    text-align: left;
    background-color:  #BBBDC4;
    padding-top: 52px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 24px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
    text-align: center;
    height: 100%;
}

.titleLabel{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.inputText{
    width: calc(100% - 75px);
    height: 49px;
    background-color: #BBBDC4;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
}

.space50{
    width: 100%;
    display: block;
    height: 50px;
}

.space38{
    width: 100%;
    display: block;
    height: 38px;
}

.containerInput{
    width: 100%;
    margin-top: 13px;
}

.marginBottom50{
    margin-bottom: 30px;
    margin-top: 30px;
}

.margin33{
    margin-bottom: 33px;
    margin-top: 33px;
}

.margin46{
    margin-left: 46px;
    margin-right: 46px;
}

.gap30{
    gap: 30px;
}

#userTable{
    width: 100%;
    height: auto;
    border: none;
    color: white;
}

#userTable img{
    cursor: pointer;
}

#userTable td:nth-child(1){
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#userTable td:nth-child(3){
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#userTable tr:nth-child(odd){
    background-color: transparent;
}

#userTable tr:nth-child(odd) td:first-child{
    padding-top: 20px;
    padding-bottom: 20px;
}

#userTable tr:nth-child(even){
    background-color: #697881;
}

.toLeft{
    margin-left: 0px !important;
    margin-right: 70px;
}

.iconAction{
    display: inline-block;
    margin-left: 14px;
    cursor: pointer;
}

.flex{
    display: flex;
}

.flexV{
    flex-direction: column;
    display: flex;
}

.flexH{
    display: flex;
    flex-direction: row;
}

.flex1{
    flex: 1;
}

.centerText{
    width: 100%;
    display: block;
    text-align: center;
}

.titleAdmin{
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.title{
    font-size: 48px;
    font-weight: bold;
}

.subTitle{
    font-size: 48px;
}

#online{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
}

#online img, #online span{
    display: inline-block;
    vertical-align: middle;
}

/* Estilos para botones deshabilitados */
button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

/* Estilos para la animación de spinner */
.spinner {
    border: 8px solid #f3f3f3; /* Gris claro */
    border-top: 8px solid #3498db; /* Azul */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Centrar horizontalmente */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos para el elemento de carga */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading p {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilos para mensajes de error */
#errorMessage {
    color: red;
    font-weight: bold;
}
